* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: #002742;
    color: #fffdfc;
    font-family: Alata, Arial, Helvetica, sans-serif;
}

.main{
    height: 100vh;
    /*border: 10px solid #fffdfc;
    border-radius: 5px;*/
}

input {
    border: none;
    border-radius: 5px;
    outline: none;
}

input:focus{
    border: none;
    outline: none;
}

select{
    border: none;
    border-radius: 5px;
}
select:focus {
    border: none;
    outline: none;
}

option {
    font-family: Alata, Arial, Helvetica, sans-serif;
    color: black;
}

#button1 {
    border: none;
    background-color: #dba206;
    color: #fffdfc;
    font-size: 18px;
    font-family: Alata, Arial, Helvetica, sans-serif;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    transition:background-color 0.1s;
    
    right:0%;
    width: 100%;
    margin: 10px 0px;
    
}
#button1:hover{
    background-color: #f1bf34;
}
#button1:focus {
    outline: none;
    border: none;
}

#content{
    top:0%;
    margin: auto;
    width: 98%;
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.2);
    
    font-size: 2em;
    margin:1%;
    background: #00497e;
    margin-bottom: 10px;

}
#header{
    top: 0%;
    border:none;
    border-radius: 15px;
    padding: 10px;
    width: 98%;
    display: inline-block;
    margin:1%;
    
    background: #00497e;
    box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.2);
    font-size: 1em;
    margin-bottom: 10px;
    
    
}
#lower{
    
    border:none;
    border-radius: 15px;
    padding: 10px;
    width: 98%;
    display: inline-block;
    margin:1%;
    background: #00497e;
    box-shadow: 10px 10px 22px -3px rgba(0,0,0,0.2);
    font-size: 2em;
    margin-bottom: 10px;
    
    
}

#id_wiadomość{
    width: 100%;
    height: 16rem;
    padding:5px;
    border: 2px solid  #fffdfc;
    border-radius: 5px;
    color:  #fffdfc;
    background-color: transparent;
    font-family: Alata, Arial, Helvetica, sans-serif;
    font-size: 18px;
    resize: none;
    margin-top:10px;
    transition: 0.3s;
    border-color: #FFFF;
    /*background-color: #FFFF;*/
    
    
    
}
#id_wiadomość:focus {
    outline:  none;
    border: 2px solid  #f0bd32;

}
#id_wiadomość::placeholder {
    color:  #e4e4e4;
}
#id_płeć{
    display: inline-block;
    background-color: transparent;
    border: 2px solid  #fffdfc;
    font-size: 15px;
    color:  #fffdfc;
    font-family: Alata, Arial, Helvetica, sans-serif;
    transform: translate(0, -3px);
    margin: 0px 5px;
    
}
#madeby{
    float: right;
    
    display: inline;
    font-size: 0.5em;
    color: #01355a
}
#ad{
    display: inline; 
}
