{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{% static '../static/3lo.png' %}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="{% static '../static/script.js' %}"></script>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext">
  <link rel="stylesheet" type="text/css" href="{% static '../static/styles.css' %}">
  <title>Spotted 3LO konin</title>

</head>
<body>
  <div class="main">
    <div id="header">
      <h1>Spotted 3LO</h1>
    </div>
   
      
    
    
    <div id="content">
      
    
    <form action="" method="post" id="form1" onsubmit="malejd()">
    {%csrf_token%}
    {{form}}
    <br>
    <button type="submit" value="Submit" id="button1" form="form1">Wyślij</button>
    </form>
    
    </div>
  
    <div id="lower">
     <p id="ad">Reklama</p>
     <p id="madeby">Made by: </br>Hireno, Deith</p>
    </div>
  </div>
  
</body>
</html>
